.collection.autocomplete {
  .collection-item.autocomplete {
    border-bottom: 1px solid #459f18 !important;
    padding: 3px 5px !important;
    display: block !important;
  }
  .collection-item.autocomplete:last-child {
    border-bottom: none !important;
  }

  .collection-item.autocomplete.active {
  }

  border: 1px solid #459f18 !important;
  border-radius: 5px;
  padding: 3px 5px !important;
  position: absolute !important;
  background-color: white !important;
  width: 100% !important;
  z-index: 999;
}

.address-autocomplete-input-container {
  position: relative;
}
