$tooltip-bg: rgba($bg-color-dark, .95);

.nvd3 {
  text {
    font-family: $fontFamilyBase;
    font-size: $fontSizeSmall;
    fill: $text-light-color;
  }

  .nv-pie path {
    fill-opacity: 0.8;
    stroke: transparent;
  }
}

.nvtooltip {
  padding: 10px !important;
  box-shadow: 0 0 10px $shadow-color;
  border: none !important;
  border-radius: 5px;
  background-color: $tooltip-bg !important;
  color: $text-color !important;
  transition: opacity .2s;

  &.right:before {
    content: '';
    top: 50%;
    left: - 8px;
    position: absolute;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent $tooltip-bg transparent transparent;
  }

  &.bottom:before {
    content: '';
    top: - 8px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent $tooltip-bg transparent;
  }
}
