.table {
  table-layout: fixed;

  > thead > tr > th {
    padding-left: $boxPadding;
    padding-right: $boxPadding;
    text-transform: uppercase;
    font-size: $fontSizeSmall;
    font-weight: normal;
    background: $bg-color-dark;
  }

  > thead > tr > th:first-of-type {
    text-align: left;
  }

  > tfoot > tr > td {
    padding: $boxPadding;
    vertical-align: middle;
  }

  > tbody > tr > td {
    padding: $boxPadding;
    vertical-align: middle;
  }
  > tbody:first-child > tr:first-child > td {
    border-top: none;
  }
}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
  }

  > tbody > tr:nth-of-type(even) {
    background-color: $bg-color-dark;
  }
}

.table-bordered {
  border-collapse: separate;
  border: solid $border-color 1px;
  border-radius: $borderRadius;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    border-top: 1px solid $border-color;
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid $border-color;
    &:first-child {
      border-left: none;
    }
  }

  th:first-child {
    border-radius: $borderRadius 0 0 0;
  }

  th:last-child {
    border-radius: 0 $borderRadius 0 0;
  }

  th:only-child{
    border-radius: $borderRadius $borderRadius 0 0;
  }

  tr:last-child td:first-child {
    border-radius: 0 0 0 $borderRadius;
  }

  tr:last-child td:last-child {
      border-radius: 0 0 $borderRadius 0;
  }
  // > tbody > tr > th,
  // > tbody > tr > td {
  //   border-left: 1px solid $border-color;
  //   border-right: 1px solid $border-color;
  //   border-top-width: 0;
  //   border-bottom-width: 0;
  // }
}
