@import 'variables';

$rowHeight:         32px;
$footerRowHeight:   50px;
.row {
  line-height: $rowHeight;
  border-top: 1px solid $border-color;
  padding: 0 $boxMargin;
  &.footer {
    font-weight: 700;
    background-color: $bg-color-dark;
    font-size: $fontSizeMedium;
    line-height: $footerRowHeight;
  }
}
