.dataField {
  margin-bottom: 10px;
}
.label {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
.value {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
