@import 'mixins';
@import 'variables';

$radio-size: 20px;
.radio {
  label, &.inline {
    color: $brand-primary;
    vertical-align: top;
    &:active .radioInner {
      @include active-box-shadow;
    }
  }
  label {
    padding-left: $radio-size + 7px;
  }
  &.inline {
    height: $radio-size;
  }
  input {
    visibility: hidden;
  }
  &.disabled {
    .radioInner {
      background-color: $bg-color-dark;
      opacity: .3;
      @include box-shadow-custom(none !important);
    }
  }
}

.radioInner {
  width: $radio-size;
  height: $radio-size;
  position: absolute;
  left: 0;
  top: 0;
  font-size: $fontSizeBase;
  border: 2px solid $brand-primary;
  text-align: center;
  border-radius: 50%;
}

.dot {
  @include vhcenter;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: $brand-primary;
}
