@import 'variables';

$legend-size: 65%;
$etf-size: 74%;
$holdings-size: 100%;

.square {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.legend {
  position: absolute;
  width: $etf-size;
  height: $etf-size;
  left: (100 - $etf-size) / 2;
  top: (100 - $etf-size) / 2;

  &:after {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 1px;;
    height: 50px;
    transform: translateY(-25px);
    background: $border-color;
  }
}

.etfPercentage, .activePercentage {
  position: absolute;
  top: 50%;
  width: 50%;
  padding: $boxPadding;
  transform: translateY(-50%);
}

.etfPercentage {
  left: 0;
  text-align: right;
  color: $text-dark-color;
}

.activePercentage {
  right: 0;
  color: $text-light-color;
  text-align: left;
}

.etf, .holdings {
  position: absolute;
  text-align: center;
}

.etf {
  width: $etf-size;
  height: $etf-size;
  left: (100 - $etf-size) / 2;
  top: (100 - $etf-size) / 2;

  :global .nvd3 .nv-pie path {
    fill-opacity: 1;
  }
}

.holdings {
  width: $holdings-size;
  height: $holdings-size;
  left: (100 - $holdings-size) / 2;
  top: (100 - $holdings-size) / 2;
}
