@import 'mixins';
@import 'variables';

$contentPadding:  70px;

.wrapper {
  overflow: hidden;
  padding: $boxMargin;
}

.wrapperInner {
  position: relative;
  padding-top: 60%;
  border-radius: $borderRadius;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .3);
  background-color: $gray-200;
  background-size: cover;
  background-position: center center;
}

.contentWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 80px 13%;
  @include media('<lg') {
    padding: 60px 13%;
  }
}

.stretchedWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: $fontSizeLarge;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: $gray-0;
  margin: 0;
  @include media('<lg') {
    font-size: $fontSizeMedium;
  }
  @include media('<md') {
    font-size: $fontSizeBase;
  }
}

.title {
  font-size: 130px;
  font-weight: 900;
  color: $brand-primary;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  @include media('<lg') {
    font-size: 90px;
  }
  @include media('<md') {
    font-size: 60px;
  }
}

.content {
  text-align: center;
  font-size: 32px;
  color: $gray-0;
  width: 100%;
  @include media('<lg') {
    font-size: 26px;
  }
  @include media('<md') {
    font-size: 22px;
  }
}
