@import 'variables';

.graph {
  :global svg.nvd3-svg {
    height: 600px;
    width: 100%;
    text {
      fill: $text-color;
    }
  }

  :global .nvd3 .nv-axis {
    path, line {
      fill: none;
      stroke: $border-color;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
  }

  :global .nvd3 .nv-axis.nv-x {
    path.domain {
      stroke-width: 3px;
      stroke-opacity: 1;
    }

    .tick line {
      stroke-opacity: 0;
    }
  }

  :global .nvd3 .nv-axis.nv-y {
    stroke-width: 2px;
    stroke-opacity: 1;
  }

  :global .nvd3 line.nv-guideline {
    stroke: $text-dark-color;
    stroke-width: 2px;
  }

  :global .nvd3 .nv-brush .extent {
    fill: $brand-primary-light;
    fill-opacity: 0.1 !important;
    shape-rendering: crispEdges;
  }

  :global .nvd3 .nv-brushBackground rect {
    stroke: transparent;
    stroke-width: 0;
    fill: transparent;
  }
}
