@import 'mixins';
@import 'variables';

.userSettings {
  :global(.form-group) {
    margin-bottom: $boxPadding;
  }
}

.panel {
  :global(.panel-body) {
    padding: 0;
  }
}

.leftCol, .rightCol {
  padding: $boxPaddingMedium $boxMargin;
  @include media('>=md') {
    width: 50%;
    float: left;
  }
}

.leftCol {
  @include media('>=md') {
    border-right: 1px solid $border_color;
    margin-right: -1px;
  }
}

.rightCol {
  @include media('>=md') {
    border-left: 1px solid $border_color;
  }
}

.title {
  margin-bottom: $boxMargin;
}

.plaidAccount {
  margin-bottom: $boxPaddingMedium;
}
