@import 'mixins';
@import 'variables';

.tip {
  background: $bg-color-dark;
  border-radius: $borderRadius;
  padding: $boxPaddingMedium;
  position: relative;
  margin: $boxMargin 0 0;
  @include clearfix();
}

.icon {
  color: $btn-primary-color;
  position: relative;
  float: left;
  width: 30px;
  padding-bottom: 15px;
  &:after {
    font-weight: 700;
    content: 'TIP';
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 2px;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid $bg-color-dark;
  display: block;
  position: absolute;
  top: -12px;
  left: 19px;
}

.text {
  margin-left: 35px;
}
