@import 'variables';

.page {
  margin-top: 70px;
}

.icon {
  opacity: 0.3;
  color: $brand-danger;
}

.text {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: $boxMargin;
}
