@import 'variables';

$filename-height: 30px;

.dropzone {
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: $borderRadius;
  padding: $boxPadding;
  border: 2px dashed $brand-primary;
  color: $brand-primary;
}

.done {
  background-color: $brand-primary;
  border: none;
  color: $brand-primary-contrast;
  padding: $boxPaddingMedium;
  flex-grow: 1;
}

.fileNameWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  height: $filename-height;
}

.fileName {
  flex: 1;
  font-weight: 700;
  padding-right: $boxPadding;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1px;
}
