@import 'mixins';
@import 'variables';

$sidebarHeight: 860px;
$sidebarHeaderHeight: 74px;
$sidebarFooterHeight: 95px;
$sidebarVerticalPadding: $boxMarginExtra;
$sidebarHorizontalPadding: $boxMarginSmall;
$sidebarContentMargin: $boxMargin;

.retirementPlan {
  margin-top: $boxMarginExtra;
  :global {
    .panel {
      height: 100%;
    }

    .panel-body {
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 $sidebarFooterHeight;
  padding: $boxMarginExtra;
  border-top: 1px solid $border-color;
}

.contentMain {
  margin-right: $boxMarginSmall;
  padding: $boxMarginExtra $boxMargin $boxMarginExtra $boxMarginExtra;
}

.sidebarMain {
  padding: $sidebarVerticalPadding $sidebarHorizontalPadding;
}

.sidebarTitle {
  margin-bottom: $boxMargin;
}

.sidebarContent {
  padding: 0 $boxMargin;
  // TODO: Needs refactor to be auto calculated
  height: $sidebarHeight - $sidebarHeaderHeight - $sidebarFooterHeight - $sidebarVerticalPadding
    - $sidebarContentMargin;
}

.bot {
  pointer-events: none;
}

.bot > svg {
  vertical-align: text-bottom !important;
}

.assistanceButton {
  padding-left: $boxMargin;
  padding-right: $boxMargin;
}

.panel {
  padding: $boxMargin;
  box-shadow: none;
}

.chartPanel {
  margin-bottom: $boxMarginExtra;
  padding: 0;

  :global(.panel-body) {
    margin-top: 0;
  }
}

.donutWell {
  padding: 0 70px;
  margin-top: $boxMargin;
  margin-bottom: 0;
}

.monthlyPanelHeader {
  padding-bottom: $boxPadding;
}

.monthlyView {
  margin-top: - $boxMarginExtra;
  padding: 0 27px;
}

.errorNotificationWrapper {
  margin-top: - $boxMargin;
}

.mbForSmall {
  @include media('<md') {
    margin-bottom: $boxMarginExtra;
  }
}
