@import 'variables';

.constraintWrapper {
  margin-bottom: $boxMargin !important;
}

.addConstraintWrapper {
  border-style: dashed !important;
}

.constraintWrapper {
  :global .panel-heading + .panel-body {
    padding-top: $boxPadding !important;
  }
}

.addConstraintButton {
  padding: 0 !important;

  &:hover, &:focus {
    text-decoration: none !important;
    color: $brand-primary !important;
  }

  > svg {
    vertical-align: text-bottom !important;
  }
}

.addConstraintButtonLabel {
  padding-left: $boxPadding;
}
