@import 'mixins';
@import 'variables';

.panel {
  :global .panel-body {
    padding: 0;
  }
}

.pendingPanel {
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0 0 1px 0;
  box-shadow: none;

  :global .panel-body {
    padding: 0 15px 15px 15px;
  }

  :global .panel-heading {
    border: 0;
  }
}

.section {
  padding-top: $boxPadding;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  @include clearfix();
}

.row {
  margin-bottom: $boxMarginSmall;
}

.sectionTitle {
  display: block;
  margin-bottom: $boxMargin;
}

.hasTooltip {
  border-bottom: 1px dotted $text-dark-color;
  cursor: default;
}

.formGroup {
  display: inline-block;
  margin-bottom: 0;
  margin-right: $boxMarginSmall;
}

.currencyInput {
  display: inline-block;
  width: 152px;
}

.helpNote {
  padding-top: $boxPadding;
}
