@import 'variables';

.panel {
  margin: 0;
  border-radius: $borderRadius;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);

  :global .panel-heading {
    padding: $boxPadding / 2 $boxPadding $boxPadding / 2 $boxPadding;
    border: 0;
    background-color: transparent;
    color: inherit;
  }

  :global .panel-body {
    margin-top: - $boxPadding / 2;
    padding: 0 $boxPadding $boxPadding / 2 $boxPadding;
  }
}

.collapsible {
  :global .panel-heading {
    cursor: pointer;
  }

  :global .panel-heading:hover .panel-title {
    color: $brand-primary;
  }

  &:hover {
    border-color: $brand-primary;
  }
}

.collapsible.isExpanded {
  &:hover {
    border-color: $border-color;
  }

  :global .panel-body {
    margin-top: 0;
    padding-bottom: $boxPadding;
  }
}
