@import 'variables';

.topBar {
  margin-bottom: $boxPaddingMedium;
}

.colorBox {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  border: 1px solid $border-color;
}

.optionItem {
  position: relative;
}
