@import 'variables';

.siteNav {
  border-bottom: 1px solid $border_color;
}

.siteNavLinks {
  margin: 0;
  float: left;

  :global {
    li > a {
      padding-left: $boxPaddingMedium;
      padding-right: $boxPaddingMedium;
      position: relative;
      font-weight: $fontWeightBold;
      color: $brand-primary;
    }

    li:first-child > a {
      padding-left: 0;
    }

    li > a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      content: '';
      border-top: 4px solid transparent;
    }

    li > a:hover, li > a:focus, .active > a {
      background-color: transparent !important;
      color: $text-light-color;

      &:after {
        border-top-color: $brand-primary;
      }
    }
  }
}
