@import 'mixins';
@import 'variables';

.selectDateRange {
  padding: 2px;
  position: relative;
  list-style: none;
  display: inline-block;
  border: 1px solid $border-color;
  border-radius: $borderRadius;
  @include clearfix();
}

.item {
  cursor: pointer;
  float: left;
  padding: 7px $boxPaddingMedium;
  text-align: center;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.activeItem {
  background: $brand-primary;
  color: $brand-primary-contrast;
  border-radius: $borderRadius;
}
