@import 'variables';

.iconListItem {
  display: table;
  width: 100%;
}

.icon {
  padding-right: $boxPadding;
  display: table-cell;
  color: $brand-primary;
}

.content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
