// 1. COLORS
//
// ---------------------------------------------
// Color definitions
// *** AVOID USING DIRECTLY ***
// ---------------------------------------------
$gray-0:                  #FFFFFF !default;
$gray-50:                 #F9F9F9 !default;
$gray-75:                 #DFDFDF !default;
$gray-100:                #BBBBBB !default;
$gray-200:                #686868 !default;
$gray-300:                #333333 !default;
$green:                   #459F18 !default;
$green-light:             #EDF6E9 !default;
$blue:                    #7AACD1 !default;
$orange:                  #E05923 !default;
$orange-light:            #FAEFEA !default;
$rose:                    #FCEFEA !default;

// ---------------------------------------------
// Brand Colors
// ---------------------------------------------
$brand-primary:           $green !default;
$brand-primary-light:     $green-light !default;
$brand-primary-contrast:  $gray-0 !default;

$brand-success:           $green !default;
$brand-success-light:     $green-light !default;
$brand-success-contrast:  $gray-0 !default;

$brand-danger:            $orange !default;
$brand-danger-light:      $orange-light !default;
$brand-danger-contrast:   $gray-0 !default;


// ---------------------------------------------
// Text colors
// ---------------------------------------------
$text-color:              $gray-200 !default;
$text-dark-color:         $gray-300 !default;
$text-light-color:        $gray-100 !default;


// ---------------------------------------------
// Background colors
// ---------------------------------------------
$bg-color:                $gray-0 !default;
$bg-color-dark:           $gray-50 !default;
$bg-color-darker:         $gray-300 !default;
$bg-color-success:        $green-light !default;
$bg-color-danger:         $rose !default;


// ---------------------------------------------
// Border colors
// ---------------------------------------------
$border-color:            $gray-75 !default;
$border-dark-color:       $gray-100 !default;


// ---------------------------------------------
// Shadow colors
// ---------------------------------------------
$shadow-color:            $gray-100 !default;


// ---------------------------------------------
// Button and links colors
// ---------------------------------------------
$btn-primary-color:       $brand-primary !default;
$btn-primary-hover-color: lighten($brand-primary, 5%) !default;
$btn-disabled-color:      $gray-0 !default;
$btn-disabled-text-color: $gray-100 !default;
$link-color: $brand-primary !default
$link-hover-color: $btn-primary-hover-color !default;


// ---------------------------------------------
// Form colors
// ---------------------------------------------
$input-border-color:      $gray-200 !default;
$select-border-color:     $brand-primary !default;


// ---------------------------------------------
// Table colors
// ---------------------------------------------
$table-border-color:      $gray-100 !default;


// 2. SPACING
//
// TODO: need to use better, more-semantic names
$boxPadding: 10px;
$boxPaddingMedium: 15px;
$boxMargin: 20px;
$boxMarginSmall: 10px;
$boxMarginExtra: 30px;
$boxMarginLarge: 40px;


// 3. GRID BREAKPOINTS
//
$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;

$lg-container-width: 1170px;
$md-container-width: 970px;
$sm-container-width: 750px;

$content-width: $sm-container-width;
$content-min-height: 500px;


// 4. FONTS
//
$fontFamilyBase: Roboto, Helvetica, Arial, sans-serif;

$fontSizeExtraSmall: 8px;
$fontSizeSmall: 10px;
$fontSizeBase: 14px;
$fontSizeMedium: 18px;
$fontSizeLarge: 21px;
$fontSizeEXtraLarge: 29px;

$fontWeightLight: 200;
$fontWeightNormal: 400;
$fontWeightBold: 600;
$fontWeightBolder: 700;
$fontVariants: (fontWeightLight, $fontWeightNormal, $fontWeightBold);


// 5. BORDERS
//
$borderRadius: 6px;


// 6. FORMS
//
$inputHeight: 34px;


// 7. Header & Footer
//
$header-bg-color:             $bg-color-darker;

$footer-text-color:           $text-light-color;
$footer-anchor-color:         $text-light-color;
$footer-anchor-hover-color:   $text-light-color;
$footer-bg-color:             $bg-color-darker;
