:global {
  // Vendor imports
  @import '../../node_modules/nvd3/build/nv.d3';
  @import '../../node_modules/react-datetime/css/react-datetime';

  @import 'base';

  html {
    box-sizing: border-box;
    overflow-y: scroll;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: $fontFamilyBase;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow: auto;
  }

  body {
    @include media('<sm') {
      width: $content-width;
    }
    font-family: $fontFamilyBase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    color: $text-color;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  a {
    color: $link-color;
    cursor: pointer;

    &:hover, &:focus {
      color: $link-hover-color;
    }
  }

  .page {
    margin-top: 30px;
  }

  @each $f in $fontVariants {
    @font-face {
      font-family: $fontFamilyBase;
      font-style: normal;
      font-weight: $f
    }
  }
}
