@import 'variables';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.oddcastWrapper {
  margin-bottom: $boxMargin;
}

.oddcastWrapperInner {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.oddcast {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.feeds {
  overflow-y: auto;
  flex: 1;
}
