@import 'variables';

.formGroup {
  margin-bottom: $boxMarginSmall !important;
}

.removeButton {
  padding: 4px 8px 6px 8px;
  position: absolute;
  bottom: $boxMarginSmall;
  right: $boxPaddingMedium;
}
