@import 'mixins';
@import 'variables';

.wrapper {
  margin-top: $boxMarginExtra;
  position: relative;
  :global {
    .slick-dots {
      @include hcenter;
      bottom: 70px;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 4px;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        vertical-align: middle;
      }
      button {
        background: none;
        border: 2px solid $brand-primary;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        padding: 0;
        text-indent: -999px;
        outline: none !important;
        display: block;
        overflow: hidden;
      }
      li.slick-active {
        padding: 2px;
      }
      li.slick-active button {
        width: 16px;
        height: 16px;
      }
      li.slick-active button, button:hover {
        background-color: $brand-primary;
        border-radius: 50%;
      }
    }
  }
}

.leftNav, .rightNav {
  z-index: 1;
  width: 48px;
  height: 48px;
  padding-left: $boxPadding;
  padding-right: $boxPadding;
  &[disabled], &.disabled {
    &, &:hover {
      opacity: .5;
      background-color: transparent;
    }
  }
}

.leftNav {
  @include vcenter;
  left: 7%;
}

.rightNav {
  @include vcenter;
  right: 7%;
}
