@import 'variables';

.markerTooltipTitle {
  padding-top: 11px;
  line-height: 11px;
  color: $text-color;
}

.lifeExpectancyValue {
  font-size: $fontSizeMedium;
  cursor: pointer;
  color: $brand-primary;
}

.editIcon {
  margin-top: -3px;
  margin-left: 4px;
  opacity: 0.5;
}

.lifeExpectancyValue:hover .editIcon {
  opacity: 1;
}

.formGroup {
  margin-bottom: 15px;

  > label {
    margin-bottom: 5px;
  }
}

.controlLabel {
  font-size: $fontSizeBase;
  line-height: inherit;
  text-transform: none;
}

.radioButtonGroup {
  width: 100%;
}

.radioButton {
  width: 50%;
}

.help {
  padding: 6px 20px;
  text-align: center;
  background-color: $gray-75;
  border: 1px solid $gray-75;
  border-radius: $borderRadius;
}

.setToCalculatedButton {
  margin-top: $boxPadding;
  width: 100%;
}
