@import 'variables';

.wrapper {
  display: flex;
  background-image: url('../AlmostThere/onboarding_last-screen-bg-icon.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 520px;
  max-width: 560px;
  margin: 0 auto;
}

.wrapperInner {
  align-self: center;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 36px;
  color: $text-dark-color;
  margin-bottom: 20px;
}

.description {
  p {
    color: $text-color;
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
