@import 'variables';

$axisXHeight: 40px;
$axisYWidth: 65px;

.projectionGraph {
  position: relative;
}

.childrenWrapper {
  top: 0;
  right: $axisYWidth;
  bottom: $axisXHeight;
  left: 0;
  position: absolute;
  z-index: 1;
}

.childrenWrapper:empty {
  display: none;
}

.datumSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.axisXFillBg, .axisYFillBg {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $bg-color-dark;
}

.axisYFillBg {
  width: $axisYWidth;
  top: 0;
  border-left: 1px solid $border-color;
}

.axisXFillBg {
  left: 0;
  height: $axisXHeight;
  border-top: 1px solid $border-color;
}

.datumText {
  position: relative;
  font-size: $fontSizeSmall;
  font-weight: bold;
  fill: $text-light-color;
}

.datumValue {
  font-size: $fontSizeBase;
  fill: $text-color;
}

.success {
  fill: $brand-primary;
}

.danger {
  fill: $brand-danger;
}

.tooltip span {
  display: inline !important;
}

.graph {
  position: relative;

  :global .nvd3 .nv-axis.nv-x .tick line,
  :global .nvd3 .nv-axis.nv-y .tick line {
    stroke-width: 1px;
    stroke: #e6e6e6;
    stroke-opacity: 1;
  }

  :global .nvd3 .nv-axis.nv-y2 path.domain {
    stroke-opacity: 0;
  }

  :global .nvd3 circle {
    fill: #fff;
    stroke-width: 2px;
  }

  :global .nvd3 text {
    fill: $text-light-color;
  }

  :global .nvd3 .nv-axis.nv-x {
    .tick text, .nv-axisMaxMin text {
      transform: translateY(10px);
    }
  }

  :global .nvd3 .nv-axis.nv-y2 {
    .tick text {
      transform: translateX(10px);
    }
  }

  :global .nvd3 .nv-axisMaxMin text {
    font-weight: normal !important;
  }

  :global .nvd3 .nv-axisMin-x {
    transform: translateX(10px);
    > text {
      text-anchor: start !important
    }
  }

  :global .nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: 0.7;
  }

  :global .nvd3.nv-scatter .nv-groups .nv-point.hover {
    stroke-width: 0 !important;
    fill-opacity: 0 !important;
  }

  :global .nvd3 line.nv-guideline {
    stroke: #333;
    stroke-width: 2px;
  }

  :global .nvd3 .mouseover-point {
    fill: #fff;
    stroke: #000;
  }

  :global svg.nvd3-svg {
    position: relative;
  }
}

.isDatumEmpty {
  :global {
    .stack2Wrap, .lines2Wrap, .nv-interactive {
      display: none;
    }
  }
}

.legend {
  padding: $boxMargin;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
}

.legendKey {
  display: inline-block;
  margin-right: $boxMargin;
}

.legendText {
  margin-left: 18px;
}

.lineAvg, .lineDeposit, .linePoor {
  margin: 10px 5px 0 0;
  height: 3px;
  width: 12px;
  float: left;
}

.lineAvg {
  background: #003100;
}

.linePoor {
  background: #aaa;
}

.lineDeposit {
  background: $brand-primary;
}

// ------------------------------------
// Lines styling
// ------------------------------------

.currentBalance {
  stroke-dasharray: 9,9;
}

.target {
  stroke-width: 1px !important;
  stroke: $brand-danger !important;
}

.targetGreen {
  stroke: $brand-success !important;
}

.line975 {
  stroke-width: 2px !important;
}

.line500 {
  stroke-width: 3px !important;
}

.line250 {
  stroke-opacity: 0.5 !important;
}
