@import 'variables';
@import 'mixins';

.wrapper {
  padding: $boxMarginLarge;
  position: relative;
}

.spinner {
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.vhcenter {
  @include vhcenter;
}

.errorNotificationWrapper {
  margin-bottom: $boxMargin;
}

.lastP {
  margin-bottom: 0 !important;
}

.well {
  padding: $boxMargin !important;
}
