@import 'mixins';
@import 'variables';

.notes {
  padding: $boxMarginSmall;
  background-color: rgba(0, 0, 0, .03);
  border-radius: $borderRadius;
}

.submitWrapper {
  margin-top: $boxMarginLarge;
  border-top: 2px solid $border-color;
  padding-top: $boxMargin;
  text-align: right;
}

.level {
  margin-top: $boxMarginSmall;
}

.radioButtonGroup {
  width: 100%;
}

.radioButton {
  width: 50%;
}
