@import 'mixins';
@import 'variables';

.iconOption {
  border-radius: $borderRadius;
  border: 1px solid $brand-primary;
  color: $brand-primary;
  cursor: pointer;
  outline: none !important;
  transition: all .1s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
  &.selected, &:hover {
    background-color: $brand-primary;
    color: $brand-primary-contrast;
  }
  &.selected {
    box-shadow: none;
  }
}

.iconOptionInner {
  padding-top: 60%;
  min-height: 140px;
  position: relative;
}

.content {
  position: absolute;
  text-align: center;
  left: $boxPaddingMedium;
  top: $boxPaddingMedium;
  right: $boxPaddingMedium;
  bottom: $boxPaddingMedium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  display: block;
  margin: 0 0 $boxMarginSmall 0;
}

.cornerIcon {
  position: absolute;
  top: 0;
  right: 0;
}
