@import 'variables';

$balanceRowHeight:    50px;
$networthRowHeight:    50px;
$cashRowHeight:       30px;

.wrapper {
  border: 1px solid $border-color;
  border-radius: $borderRadius;
  margin: $boxMargin 0;
  padding: $boxMargin;
}

.balanceWrapper {
  padding: 0 $boxPadding;
  margin: -$boxPadding;
  margin-bottom: $boxMargin / 2;
  background-color: $bg-color-dark;
  line-height: $balanceRowHeight;
}

.networthWrapper {
  padding: 0 $boxPadding;
  margin: #{$boxPadding} #{-$boxPadding};
  background-color: $brand-primary-light;
  line-height: $networthRowHeight;
}

.cashWrapper {
  line-height: $cashRowHeight;
}

.tooltip {
  margin: 0 $boxPadding / 2;
  cursor: pointer;
}

.hasTooltip {
  border-bottom: 1px dotted $text-dark-color;
  cursor: default;
}

.accountsDropdownWrapper {
  display: inline-block;
  margin: 0 $boxMarginSmall;
}

.accountsDropdown {
  display: inline-block;

  :global(.btn) {
    &, &:active, &:focus, &:hover {
      padding-left: 2px !important;
      padding-right: 20px !important;
      border: none;
      box-shadow: none !important;
      font-size: $fontSizeLarge;
      color: $text-color !important;
    }
  }

  :global(.caret) {
    color: $text-color;
    right: 2px;
  }
}
