@import 'mixins';
@import 'variables';

.option {
  border: 2px solid $brand-primary;
  border-radius: $borderRadius;
  color: $brand-primary;
  padding: $boxPaddingMedium $boxPaddingMedium * 2 + 20px $boxPaddingMedium $boxPaddingMedium;
  box-sizing: border-box;
  font-weight: 700;
  margin-bottom: $boxMargin;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
  cursor: pointer;
  position: relative;
  @include transition(all .1s);
  &:hover, &.selected {
    background: $brand-primary;
    color: $brand-primary-contrast;
  }
  &.selected {
    box-shadow: none;
  }
}

.checkmark {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  @include vcenter;
  right: $boxPaddingMedium;
  text-align: center;
  display: block;
  background-color: $brand-primary-contrast;
  border: 2px solid $brand-primary;
  color: $brand-primary !important;
  svg {
    vertical-align: baseline !important;
  }
}
