@import 'mixins';
@import 'variables';

.footer {
  margin-top: $boxMarginLarge;
}

.lightArea {
  background: $bg-color-dark;
  color: $brand-primary;
}

.darkArea {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  a {
    color: $footer-anchor-color;
    &:hover {
      text-decoration: underline;
      color: $footer-anchor-hover-color;
    }
  }
}

.links {
  margin: 0;
  padding: $boxMarginLarge 0;
}

.link {
  vertical-align: middle;
  list-style: none;
  margin-bottom: 8px;
  text-align: center;

  a {
    text-decoration: none;
  }

  svg {
    margin-right: 5px;
    vertical-align: text-top !important;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.disclosureRow {
  padding-top: 100px;
}

.logoRow {
  padding: $boxMarginLarge 0;
  text-align: center;
}

.poweredBy {
  margin-bottom: 3px;
}

.logo {
  margin-bottom: 6px;
}

.bold {
  font-weight: bold;
}
