@import 'mixins';
@import 'variables';

// OnBoarding
$onboardingContainerHeight: 600px;

.container {
  border: 1px solid $border-color;
  @include border-radius($borderRadius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  // overflow: hidden;
  background-color: $bg-color;
  padding: 0;
  position: relative;
  margin-bottom: $boxMarginLarge
}

.row {
  display: flex;
  align-items: stretch;
  // overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: $onboardingContainerHeight;
}

.sidebar {
  border-right: 2px solid $border-color;
  min-height: $onboardingContainerHeight;
  &.grey {
    padding: $boxMarginLarge;
    background-color: $bg-color-dark;
  }
  &.white {
    padding: 0 $boxMarginLarge;
    margin: $boxMarginLarge 0;
    background-color: white;
  }
}

.sidebarInner {
  height: 100%;
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.detail {
  padding: $boxMarginLarge $boxMarginLarge - $boxPaddingMedium;
  box-sizing: border-box;
  flex: 1;
  min-height: $onboardingContainerHeight;
}

.detailInner {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0 $boxPaddingMedium;
}

.loadingWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .5);
  z-index: 999;
}

.loadingInner {
  @include vhcenter;
}
