@import 'mixins';
@import 'variables';

.retiresmartzWizard {
  margin-top: $boxMarginExtra;
}

.content {
  height: 0;
  overflow-y: auto;
  padding: $boxMarginExtra $boxMargin $boxMarginExtra $boxMarginExtra;
  margin-right: $boxMarginSmall;

  :global(.form-group) {
    margin-bottom: $boxMarginExtra;
  }
}

.sidebar {
  :global {
    .panel-body {
      padding: 0;
    }

    .nav > li {
      margin-top: 0;
    }

    .nav > li > a {
      border-radius: 0;
      border-left: 5px solid transparent;
      color: $text-dark-color;
    }

    .nav > li > a {
      &, &:active, &:focus, &:hover {
        background: inherit;
        color: inherit;
        font-weight: bold;
      }
    }

    .nav > li:nth-child(odd) a {
      background-color: $bg-color-dark;
    }

    .nav > .active > a {
      &, &:active, &:focus, &:hover {
        border-left-color: $brand-primary;
        color: $text-light-color;
      }
    }
  }
}

.errorWell {
  display: inline-block;
  font-size: $fontSizeSmall;
  color: $text-light-color;
}

.spinnerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .5)
}

.spinner {
  @include vhcenter();
}
