@import 'mixins';
@import 'variables';

$jumbotronHeadingFontSize: 30px;
$jumbotronHeadingFontSizeMd: 36px;
$jumbotronHeadingFontSizeLg: 40px;
$jumbotronLinkFontSize: 14px;
$jumbotronLinkFontSizeMd: 18px;

.wrapper {
  margin-top: $boxMargin;
  height: 367px;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;
  @include media('<md') {
    height: 300px;
  }
}

.content {
  padding: 10% 0 0 8%;
  position: relative;
}

.heading {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: $fontWeightBolder;
  line-height: 1.5;
  color: $brand-primary-contrast;
  font-size: $jumbotronHeadingFontSize;
  @include media('>=md') {
    font-size: $jumbotronHeadingFontSizeMd;
  }
  @include media('>=lg') {
    font-size: $jumbotronHeadingFontSizeLg;
  }
}

.primary {
  color: $brand-primary;
}

.background {
  width: 600px;
  @include vhcenter;
}

.link {
  font-size: $jumbotronLinkFontSize;
  font-weight: $fontWeightBolder;
  padding: 5% 0 0 10%;
  @include media('>=md') {
    font-size: $jumbotronLinkFontSizeMd;
  }
}
