@import 'variables';

$header-height:         80px;
$header-logo-height:    50px;

.header {
  background-color: $header-bg-color;
}

.inner {
  display: table;
  height: $header-height;
  width: 100%;
}

.actions {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.logoWrapper {
  display: table-cell;
  width: 70%;
  vertical-align: middle;
}

.logo img {
  max-height: $header-logo-height;
  height: auto;
  width: auto;
}

.advisorAlert {
  padding: 3px 0 4px 0;
  text-align: center;
  background-color: $brand-danger;
}

.advisorAlertText {
  color: $text-dark-color;
}
