.calculate {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.overlay {
  background-color: white;
}

.overlayTransparent {
  background-color: rgba(255, 255, 255, 0.7);
}

.notification {
  width: 100%;
  margin: 0;
  border-radius: 0 !important;
}
