@import 'variables';

$xAxisHeight: 40px;
$yAxisWidth: 65px;
$incomeGraphHeight: 200px;
$assetsGraphHeight: 124px;
$tooltip-bg: rgba($bg-color-dark, .95);

.projectionGraph {
  position: relative;
}

.isDatumEmpty {
  :global {
    .stack2Wrap, .lines2Wrap, .nv-interactive {
      display: none;
    }
  }
}

.childrenWrapper {
  position: absolute;
  top: - 10px;
  right: $yAxisWidth - 10px;
  z-index: 4;
}

.childrenWrapper:empty {
  display: none;
}

.datumText {
  position: relative;
  font-weight: bold;
  font-size: $fontSizeSmall;
  fill: $text-light-color;
}

.success {
  fill: $brand-primary;
}

.danger {
  fill: $brand-danger;
}

.graph {
  position: relative;

  :global .nvd3 .nv-axis.nv-x .tick line {
    stroke-opacity: 0;
  }

  :global .nvd3 .nv-axis.nv-y .tick line {
    stroke-width: 1px;
    stroke: #e6e6e6;
    stroke-opacity: 1;
  }

  :global .nvd3 .nv-axis.nv-y path.domain,
  :global .nvd3 .nv-axis.nv-y2 path.domain {
    stroke-opacity: 0;
  }

  :global .nv-interactive circle {
    fill: #fff;
    stroke-width: 2px;
  }

  :global .nvd3 text {
    fill: $text-light-color;
  }

  :global .nvd3 .nv-axis.nv-x {
    .tick text, .nv-axisMaxMin text {
      transform: translateY(10px);
    }
  }

  :global .nvd3 .nv-axis.nv-y,
  :global .nvd3 .nv-axis.nv-y2 {
    .tick text {
      transform: translateX(10px);
    }
  }

  :global .nvd3 .nv-axisMaxMin text {
    font-weight: normal !important;
  }

  :global .tick.zero {
    display: none;
  }

  :global .nvd3 .nv-axisMin-x {
    transform: translateX(10px);
    > text {
      text-anchor: start !important
    }
  }

  :global .nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: 0.7;
  }

  :global .nvd3.nv-scatter .nv-groups .nv-point.hover {
    stroke-width: 0 !important;
    fill-opacity: 0 !important;
  }

  :global .nvd3 line.nv-guideline {
    stroke: #333;
    stroke-width: 2px;
  }

  :global .nvd3 .mouseover-point {
    fill: #fff;
    stroke: $brand-primary;
  }

  :global svg.nvd3-svg {
    position: relative;
  }

  :global .nv-bar {
    fill: #CEEE9B !important;
    fill-opacity: 1;
  }
}

.incomeGraph {
  z-index: 2;
  overflow: visible !important;
}

.assetsGraph {
  z-index: 1;
  border-top: 1px solid $border-color;

  :global .nvd3 .nv-axis.nv-y line {
    display: none;
  }
}

.axisXFillBg, .axisYFillBg {
  position: absolute;
  right: 0;
  border-bottom-right-radius: $borderRadius;
  background: $bg-color;
}

.axisYFillBg {
  width: $yAxisWidth;
  top: 0;
  bottom: $xAxisHeight + 1;
  border-left: 1px solid $border-color;
  border-top-right-radius: $borderRadius;
}

.axisXFillBg {
  bottom: 0;
  left: 0;
  height: $xAxisHeight + 1;
  border-top: 1px solid $border-color;
  border-bottom-left-radius: $borderRadius;
}

.assetsFillBg {
  position: absolute;
  left: 0;
  right: $yAxisWidth;
  bottom: 0;
  height: $assetsGraphHeight;
  background: $bg-color-dark;
  border-bottom-left-radius: $borderRadius;
}

.incomeTitle, .assetsTitle {
  position: absolute;
  left: $boxMargin;
  z-index: 3;
}

.incomeTitle {
  top: $boxMargin;
}

.assetsTitle {
  top: $incomeGraphHeight + $boxMarginSmall;
}

.markerTooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 276px;
  padding: $boxMarginSmall $boxMargin !important;
  margin-top: 8px;
  box-shadow: 0 0 10px $shadow-color;
  border: none !important;
  border-radius: 5px;
  background-color: $tooltip-bg !important;
  color: $text-light-color !important;
  transition: opacity .2s;

  &:before {
    content: '';
    top: - 8px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent $tooltip-bg transparent;
  }
}

.tooltip span {
  display: inline !important;
}

// ------------------------------------
// Lines styling
// ------------------------------------
.incomeLine {
  stroke-width: 3px !important;
  stroke: black !important;
}

.targetLine {
  stroke-width: 2px !important;
  stroke: $brand-danger !important;
}

.onTrack {
  stroke: $brand-success !important;
}

.marker {
  cursor: grab;

  text {
    font-size: $fontSizeBase;
    fill: $text-color !important;
  }
}

.retirementMarker circle:first-of-type {
  fill: #60A2FF;
  stroke: #0051C7;
}

.retirementMarker circle:last-of-type {
  fill: #0051C7;
}

.lifeExpectancyMarker circle:first-of-type {
  fill: #FABF10;
  stroke: #db9939;
}

.lifeExpectancyMarker circle:last-of-type {
  fill: #db9939;
}

.hasPartner {
  .clientMarker circle {
    transform: translateX(-3px);
  }

  .clientMarker text {
    transform: translate(-5px, -17px) !important;
  }

  .partnerMarker circle {
    transform: translateX(3px);
  }

  .partnerMarker text {
    transform: translate(5px, 28px) !important;
  }
}
