@import 'mixins';
@import 'variables';

.submitWrapper {
  margin-top: $boxMargin;
  border-top: 2px solid $border-color;
  padding-top: $boxMargin;
  text-align: right;
}

.radioButtonGroup {
  width: 100%;
}

.radioButton {
  width: 50%;
}
