body, html {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  color: #686868 !important;
  background-color: #fff !important;
}
h1 {
  font-size: 21px !important;
  margin-bottom: 0 !important;
  color: #686868 !important;
  font-weight: 300 !important;
  line-height: 34px !important;
  text-transform: uppercase !important;
}
a {
  color: #459f18 !important;
  cursor: pointer !important;
}
.icon-plus {
  position: relative !important;
  bottom: 1px !important;
  border: 1px solid #459f18 !important;
  border-radius: 50% !important;
  font-family: quovo-dashboard-icons!important;
  font-size: 9px !important;
  padding: 2px !important;
  margin-top: -1px !important;
  margin-right: 0px !important;
  font-weight: bolder !important;
}
.view-container button {
  padding: 6px 10px !important;
  font-weight: 600 !important;
  letter-spacing: .25px !important;
  outline: none!important;
  border-radius: 6px !important;
  border-color: #459f18 !important;
  color: #459f18 !important;
  background-color: transparent !important;
  text-transform: none !important;
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}
.view-container button:hover {
  border-color: #459f18 !important;
  color: #fff !important;
  background-color: #459f18 !important;
}
.view-container button:hover .icon-plus{
  border: 1px solid #fff !important;
}
.banner {
  padding: 20px !important;
  margin: 20px 0 !important;
  background-color: #f9f9f9 !important;
  border-radius: 6px !important;
}
.banner .value {
  color: #686868 !important;
  font-weight: 600 !important;
  font-size: 21px !important;
}
.banner .key {
  display: block !important;
  color: #bbb !important;
  font-size: 14px !important;
}
#client-details .accounts-list .accounts-list-header {
  background-color: #f9f9f9 !important;
  margin-top: 20px !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  border: 1px solid #dfdfdf !important;
  font-weight: 300 !important;
}
.account-list {
  border: none !important;
  margin: 0 !important;
  font-weight: 300 !important;
}
.account-list-header {
  display: table-header-group !important;
  vertical-align: middle !important;
  border-color: inherit !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  background: #f9f9f9 !important;
}
#client-details .accounts-list>ul>li .stats>.value {
  color: #686868 !important;
  font-size: 21px !important;
  font-weight: 300 !important;
}
.fdt .public_fixedDataTable_header,
.fdt .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: #f9f9f9 !important;
  background-image: none !important;
}
.fdt .fixedDataTableCellLayout_main {
  color: #686868;
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  border: none;
  border-width: 0;
  background: inherit;
  background-color: inherit;
}
.fdt.fake th a {
  color: #9ca1ac !important;
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  text-decoration: none;
  cursor: auto;
}
#sync .sync-steps>div.active {
  background-color: #459F18 !important;
  border-color: #459F18 !important;
}
#sync .sync-steps>div.active .tri {
  border-left-color: #459F18 !important;
}
#sync .sync-steps>div.active .tri:after {
  border-left-color: #459F18 !important;
}
.view-container input[type=email],
.view-container input[type=number],
.view-container input[type=password],
.view-container input[type=tel],
.view-container input[type=text],
.view-container select,
.view-container textarea {
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: #686868 !important;
  box-shadow: : none !important;
  -webkit-box-shadow: none !important;
}
.view-container input[type=email]:focus,
.view-container input[type=number]:focus,
.view-container input[type=password]:focus,
.view-container input[type=tel]:focus,
.view-container input[type=text]:focus,
.view-container select:focus,
.view-container textarea:focus {
  box-shadow: none !important;
  border-color: #459f18 !important;
  outline: none !important;
  border: 1px solid #459f18 !important;
}
#sync #sync-brokerage .results .brokerage-card:hover,
#sync #sync-client .results .brokerage-card:hover {
  border-color: #459F18 !important;
}
#sync #sync-brokerage .results .brokerage-card:hover .select-btn,
#sync #sync-client .results .brokerage-card:hover .select-btn {
  background-color: #459F18 !important;
}
#sync #sync-account .authenticating img {
  visibility: hidden !important;
}
.switch input:checked+i {
  border: 1px solid #459f18 !important;
  background: #459f18 !important;
}
#client-details .accounts-list>ul>li .settings i:hover {
  color: #459f18 !important;
}
#sync #sync-brokerage .notice, #sync #sync-client .notice {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
#sync #sync-brokerage .notice a, #sync #sync-client .notice a {
  font-size: 20px !important;
}
