@import 'variables';

.spin {
  animation: spin 2s infinite linear;
}

.buttonsList {
  display: table;
  width: 100%;
  margin: 0;
}

.buttonCol {
  display: table-cell;
  padding: 0;
  float: none;
  vertical-align: top;
  &:first-child {
    width: 100%;
  }
  &:last-child {
    padding-left: $boxPadding;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
