@import 'variables';

.progressBarWrapper {
  :global .progress {
    height: 12px;
    margin-bottom: 0;
    background-color: $gray-75;
    border-radius: 0;
    box-shadow: none;
  }

  :global .progress-bar {
    line-height: 12px;
    box-shadow: none;
  }

  :global .progress-bar-success {
    color: $brand-success;
  }

  :global .progress-bar-danger {
    color: $brand-danger;
  }
}
