@import 'mixins';
@import 'variables';

.retiresmartzAgreement {
  margin-top: $boxMarginExtra;
}
.content {
  padding: $boxMarginExtra $boxMargin $boxMarginExtra $boxMarginExtra;
  margin-right: $boxMarginSmall;
}

.box {
  padding: $boxPaddingMedium;
}

.downloadBox {
  margin-bottom: $boxMarginLarge;
}

.accept {
  padding-top: 12px;
}

.acceptText {
  line-height: 21px;
}

.statementTitle {
  margin-top: $boxMargin;
}

.spinnerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .5)
}

.spinner {
  @include vhcenter();
}
