@import 'mixins';
@import 'variables';

$jumbotronHeadingFontSize: 30px;
$jumbotronHeadingFontSizeMd: 40px;
$jumbotronHeadingFontSizeLg: 48px;
$jumbotronLinkFontSize: 14px;
$jumbotronLinkFontSizeMd: 18px;
$jumbotronHeightRatio: 12.82%;
$jumbotronLeftMargin: 7%;

.retiresmartzLink {
  overflow: hidden;
  margin-bottom: $boxMarginLarge;
  border-radius: $borderRadius;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-top: $jumbotronHeightRatio;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.defaultBackground {
  background-color: $bg-color-darker;
}

.content {
  position: absolute;
  left: $jumbotronLeftMargin;
  @include vcenter;
}

.heading {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: $fontWeightBolder;
  line-height: 1.5;
  color: $brand-primary-contrast;
  font-size: $jumbotronHeadingFontSize;
  @include media('>=md') {
    font-size: $jumbotronHeadingFontSizeMd;
  }
  @include media('>=lg') {
    font-size: $jumbotronHeadingFontSizeLg;
  }
}

.primary {
  color: $brand-primary;
}

.link {
  font-size: $jumbotronLinkFontSize;
  font-weight: $fontWeightBolder;
  @include media('>=md') {
    font-size: $jumbotronLinkFontSizeMd;
  }
}
