@import 'mixins';
@import 'variables';

.name {
  display: inline-block;
  margin-right: $boxMarginSmall;
}

.button + ul {
  border-color: $border-color !important;
  > li {
    padding-top: $boxPadding / 2;
    padding-bottom: $boxPadding / 2;
    > a {
      color: $text-color;
    }
  }
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent $border-color;
    position: absolute;
    top: -8px;
    right: 10px;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent rgba(255, 255, 255, .95);
    position: absolute;
    top: -7px;
    right: 10px;
  }
}

.circle {
  border: 1px solid $border-color;
  @include border-radius(999px);
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  box-sizing: content-box;
  margin-right: 15px;
}
