@import 'variables';

.headerRow {
  display: flex;
  align-items: center;
  width: calc(100% + 30px) // bootstrap default padding
}

.circle {
  border-radius: 50%;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 2px solid $brand-primary;
  display: inline-block;
}

.completed .circle {
  background-color: $brand-primary;
}

.selected .circle {
  background-color: $brand-primary;
  width: 16px;
  height: 16px;
}

.logo {
  > img {
    max-width: 200px;
  }
}
