@import 'mixins';
@import 'variables';

.circle {
  border: 2px solid $text-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: $boxMarginLarge;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  &:not(.disabled) {
    &:hover, &:active:focus {
      background-color: $brand-primary;
      border-color: $brand-primary;
      .title, .text, .icon {
        color: $brand-primary-contrast;
      }
    }
    &:focus {
      border-color: $brand-primary;
      outline: none;
    }
    &:active:focus {
      @include active-box-shadow;
    }
  }
  @include media('<lg') {
    padding: $boxMargin;
  }
  @include media('<md') {
    padding: $boxMarginSmall;
  }
  &.disabled {
    opacity: .3;
    outline: none !important;
    cursor: not-allowed;
  }
}

.wrapper {
  position: relative;
  padding-top: 70%;
}

.title {
  text-align: center;
  font-size: $fontSizeLarge;
  font-weight: 700;
  margin-bottom: $boxMargin;
  @include media('<lg') {
    font-size: $fontSizeMedium;
    margin-bottom: $boxMarginSmall;
  }
}

.text {
  font-weight: 700;
  color: $brand-primary;
  @include media('<md') {
    font-size: $fontSizeSmall;
  }
}

.vhcenter {
  @include vhcenter;
  text-align: center;
}

.icon {
  @include vhcenter;
  z-index: -1;
  color: $brand-primary;
  opacity: .2;
}
