@import 'mixins';
@import 'variables';

.wrapper {
  display: flex;
  align-items: stretch;
  margin: 0;
  border: 2px solid $border-color;
  @include border-radius($borderRadius);
  overflow: hidden;
}

.content {
  padding: 45px;
  background-color: $bg-color;
}

.description {
  background-color: $bg-color-dark;
  padding: 15px;
  @include border-radius($borderRadius);
}

.hr {
  border-color: $border-color;
  border-width: 2px;
}
