@import 'mixins';
@import 'variables';

.overview {
  text-align: center;
  height: 100%;
}

.overviewContent {
  height: 520px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 36px;
  color: $text-dark-color;
  margin-bottom: 20px;
}

.descriptionWrapper {
  width: 100%;
}

.description {
  font-size: 18px;
  padding: 0 10%;
}

.name {
  font-weight: bold;
}

.bottomText {
  margin: 0 $boxMarginLarge;
  padding: $boxMargin 10%;
  background-color: $bg-color-dark;
  border-radius: $borderRadius;
}

.arrowContainer {
  padding: 0;
  list-style-type: none;
  clear: both;
  font-size: $fontSizeBase;
  margin: 30px 0;
  text-align: center;
}

.stepInner {
  @include vcenter;
}

.number {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid $brand-primary;
  color: $brand-primary;
  background-color: white;
  margin-right: 10px;
  line-height: 18px;
  text-align: center;
}

.label {
  display: inline-block;
  z-index: 30;
}

.arrow {
  display: inline-block;
  height: 75px;
  padding: 0 0 0 30px;
  background-repeat: no-repeat;
  background-image: url(../Overview/onboarding_step-arrow.svg);
  position: relative;
  width: 225px;
  margin: 0 -25px 0 0;
  cursor: pointer;
  text-align: left;
  color: $brand-primary;
  font-weight: 600;

  &.active {
    background-image: url(../Overview/onboarding_step-arrow-hover.svg);
    cursor: default;
    color: white;
  }

  &:hover:not(.disabled) {
    background-image: url(../Overview/onboarding_step-arrow-hover.svg);
    color: white;
  }

  &.disabled {
    background-image: url(../Overview/onboarding_step-arrow-disabled.svg);
    cursor: default;
    color: $text-light-color;

    .number {
      color: $text-light-color;
      border-color: $text-light-color;
    }
  }

  @include media('<md') {
    width: 180px;
    height: 60px;
    margin-right: -20px;
    padding-left: 24px;
    font-size: $fontSizeBase - 1;
    .number {
      margin-right: 5px;
    }
  }
}
