@import 'variables';

.warning {
  border: 1px solid $border-dark-color;
  padding: $boxMargin;
  margin-bottom: $boxMargin;
  text-align: center;
}

.question {
  color: $brand-primary;
}

.advisorInfo {
  margin: 0 auto;
}

.section {
  position: relative;
  padding: $boxPaddingMedium 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.checkbox {
  margin: 0;
  float: left;
}

.sectionContent {
  margin-left: $boxMarginLarge;
}

.controlLabel {
  padding-top: 0;
}
