@import 'variables';

.btnGoalAction {
  position: relative;
  z-index: 1;
  padding: 0 !important;
  font-size: 0;
  color: $text-color;
  &:hover, &:focus {
    color: $brand-primary;
  }
}

.itemIcon {
  color: $brand-primary;
  margin-right: $boxPadding / 2;
}

.itemText {
  vertical-align: middle;
}
